a{color: #FFF;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1em}

a:visited{color: #FFF;
  text-decoration: none;
  font-size: 1em}

a:active{color: #FFF;
  text-decoration: none;
  font-size: 1em}

a:hover{color: #FFF;
  text-decoration: none;
  margin-left: 10px;
  font-size: 1em}

*{margin:0;padding:0;}

#login{
  position: fixed; 			
  width: 400px;
  top: 30%; 						
  left: 0; 							
  right: 0; 						
  bottom: 0; 						
  margin: auto; 
  border-radius: 25px;
}

form{
  border-radius: 25px;
  background:#f0f0f0;
  opacity: .41;
}
form:hover{
  opacity: 1;
}

form h1{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color:#fff;
  background:#777;
  padding:15px;
  font-size:1.9em;
  font-weight:600;
  text-align:center;
  opacity: 1;
  font-family:'Open Sans',sans-serif;
}

form h2{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color:#fff;
  background:#777;
  margin-top: 25px;
  padding:15px;
  font-size:1.3em;
  font-weight:600;
  text-align:center;
  opacity: 1;
  font-family:'Open Sans',sans-serif;
}

form h2:hover{
  background:#FF4081;
}

input[type="email"],input[type="password"]{
  width:90%;
  text-align: center;
  margin-top:20px;
  padding-top: 5px;
  padding-bottom: 5px;

  background:#fff;
  border:1px solid #ccc;

  font-family:'Open Sans',sans-serif;
  font-size:1.5em;
  color:#555;
}

